<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Document</title>
</head>

<body>
    {{>header}}
    <p class="about">This site uses data from <a href="https://www.mapbox.com/">mapbox</a>  and <a href="https://home.openweathermap.org/">openweathermap</a></p>
    <img src="img/femi.jpg" alt="" style="width: 250px;" />
    {{>footer}}
</body>

</html>